* {box-sizing:border-box}

:root {
  --gold-color: linear-gradient(
    to right,
    #462523 0,
          #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
    );
}
/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  max-height: 685px;
  position: relative;
  margin: auto;
}

.slideshow-container-text{
  text-align: center;
  font-size: 30px;
  background-image: var(--gold-color);
  font-weight: bold;
}

/* Hide the images by default */
.mySlides {
    display: none;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  background-color: var(--primary-color);
  color: rgb(0, 0, 0);
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(40, 36, 36, 0.982);
  color: var(--primary-color);
}

/* Caption text */
.text {
    font-size: 45px;
    padding: 8px 12px;
    color : #000000;
    background-size: auto;
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman',serif;
    font-weight: bold;
    background-image: var(--gold-color);
}

.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  padding-top: 50px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #000000;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slideshow-container img{
    width: 100%;
    height: 100%;
}

.slides-overlay {
    opacity: 60%;
}

.textcenter{
    text-align: center;
}

