:root {
    --primary-color: #d24b73;
    --dark-color: #333;
    --light-color: #F4F4F4;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    background-color: var(--dark-color);
    padding: 20px;
  }
  
  .footer-section-1 img {
    margin-left: 3.2rem;
    width: 151px;
    height: 58px;
  }

  .footer-section-1 p {
    color: #F4F4F4;
    margin-left: 1rem;
    max-width: 350px;
  }
  
  .footer-section-2{
    max-width: 600px;
  }
  .footer-section-2 h2 {
    color: var(--primary-color);
  }
  
  .footer-section-2 input,
  .footer-section-2 button {
    height: 30px;
    width: 90%;
    border-radius: 5px;
  }
  
  .footer-section-2 p{
    color: #F4F4F4;
    max-width: 95%;
  }

  .footer-section-2 input {
    height: 35px;
  }
  .footer-section-2 button {
    margin-top: 11px;
    cursor: pointer;
    background-color: #d24b73;
    color: #F4F4F4;
  }
  
  .footer-section-2 button:hover {
    background-color: var(--light-color);
    color: var(--primary-color);
  }
  
  .footer-section-3 h2{
    color: #d24b73;
  }

  .footer-section-3 p{
    color:#F4F4F4;
  }

  .footer-section-4 {
    background-color: #444;
    grid-column: span 3;
    text-align: center;
    margin-top: 20px;
    color: var(--light-color);
  }

  .social-icons {
    display: flex;
    gap: 1rem;
  }
  
  .linkedin-icon,
  .facebook-icon,
  .instagram-icon{
    font-size: 2.8em;
    color: #F4F4F4;
  }

  .linkedin-icon:hover{
    color: #0a66c2;
  }
  
  .instagram-icon:hover {
    color: #bc2a8d; /* Instagram color */
  }
  
  .facebook-icon:hover {
    color: #1877f2; /* Facebook color */
  }

  
  