
:root {
  --primary-color: #d24b73;
  --dark-color: #333;
  --light-color: #F4F4F4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 99999;
}
  
  .logo img {
    width: 40%; 
    height: auto; 
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 1.7rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: var(--primary-color); 
  }
  