/* Welcome.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap');


:root {
  --primary-color: #d31f8b;
  --dark-color: #333;
  --light-color: #F4F4F4;
}

.showcase {
  background: var(--dark-color) url('../assets/showcase.jpg');
  height: 120vh;
  color: var(--primary-color);
  position: relative;
  background-size: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
    }

  .showcase-content {
    z-index: 2;
    font-size: 2rem;
    text-align: center;
    background: url(../assets/showcase-content-logo.png);
    background-size: cover;
    height: 130px;
    margin-left: 100px;
    margin-right: 97px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  .text-center{
    text-align: center;
  }
 
  .showcase-content h1{
    margin-top: 30px;
    height: 150px;
  }

  .showcase-content-2 {
    z-index: 2;
    font-size: 2rem;
    text-align: center;
    font-family: roboto;
    height: 130px;
    margin-left: 100px;
    margin-right: 97px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  .showcase-content-2 p{
    margin-left: 10px;
    font-style: italic;
  }

  .btn-primary{
    background-color: var(--primary-color);
    text-decoration: none;
    font-size: 20px;
    font-family: roboto;
    width: 160px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 29rem;
    color: var(--light-color);
    border-radius: 5rem;
    cursor: pointer;
  }

  .btn-primary:hover{
    color: var(--primary-color);
    background-color: var(--light-color);
  }

  
  
  
      
  
  